[submodule "debug_kit"]
	path = debug_kit
	url = git@thechaw.com:debug_kit.git
[submodule "api_generator"]
	path = api_generator
	url = git@thechaw.com:api_generator.git
[submodule "cakemate"]
	path = cakemate
	url = git@thechaw.com:cakemate.git
[submodule "plugins"]
	path = plugins
	url = git@thechaw.com:plugins.git
[submodule "tagging"]
	path = tagging
	url = git://github.com/kalt/tagging.git
[submodule "multitask"]
	path = multitask
	url = git@thechaw.com:multitask.git
[submodule "cache"]
	path = cache
	url = git@thechaw.com:cache.git
[submodule "media"]
	path = media
	url = git://github.com/davidpersson/media.git
[submodule "acl_plugin"]
	path = acl_plugin
	url = git://github.com/phishy/acl_plugin.git
[submodule "cms"]
	path = cms
	url = git://github.com/fabiokr/cakephp-cms-plugin.git
[submodule "status"]
	path = status
	url = git://github.com/mcurry/status.git
[submodule "newsletter"]
	path = newsletter
	url = git://github.com/fabiokr/cakephp-newsletter-plugin.git
[submodule "sphinx_searchable"]
	path = sphinx_searchable
	url = git://github.com/namelessnotion/sphinx-cakephp-plugin.git
[submodule "js_validate"]
	path = js_validate
	url = git://github.com/mcurry/js_validate.git
[submodule "js"]
	path = js
	url = git://github.com/mcurry/js.git
[submodule "chat"]
	path = chat
	url = git://github.com/mcurry/chat.git
